.content {
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
    padding:15px;
}

.task_div {
    padding: 2%;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    margin: 2%;
}

.task_name {
    cursor: pointer;
}

.remove_task {
    font-size: 2em;
    float: right;
    color: red;
    cursor: pointer;
}

.nav-span {
    margin: 50px;
}

.nav-span a {
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
}

.nav-span a:hover {
    background-color: lightsteelblue;
}

input {
    margin: 5px;
    min-width: 23%;
}

input[type="checkbox"] {
    width: 25px;
    min-width: 25px;
}

.btn {
    padding: 5px;
    margin: 5px;
    min-width: 12%;
}

h1 {
    text-align: center;
    padding-bottom: 2%;
}

nav {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

