
body {
	color: white;
	background-color: black;
}

.jumbotron {
   	color: black;
}

.content {

}

.nav-span a {
	color: white;
	border-color: white;
}

.btn {
	color: black;
}

.nav-span a {
    color: black;
    border-color: black;
}
