
body {
	color: white;
	background-color: black;
}

.header {
	border-bottom: 3px solid white;
	padding: 2%;
	margin-bottom: 2%;
}

.content {
	width: 60%;
	margin: 0 auto;
	border: 1px solid white;
	border-radius: 5px;
	padding:15px;
}

.nav-span {
	margin: 5%;
}

.nav-span a {
	color: white;
	text-decoration: none;
	border: 2px solid white;
	padding: 5px;
}

.btn {
	padding: 5px;
}

h1 {
	text-align: center;
}

nav {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}